@import "variables";

.banner {
  margin: 2rem 0;
  position: relative;

  .btn {
    margin-top: 20px;
  }

  &-content {
    position: relative;
    margin-bottom: 15px;
    width: 100%;

    p {
      font-weight: 700;
    }
  }

  &-title {
    color: $black;
    font-size: $px36;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .banner {
    margin: 4rem 0;

    .btn {
      font-size: $px20;
      margin-top: 30px;
    }

    &-title {
      font-size: $px36;
      line-height: 2.5rem;
    }

    &-content {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 1rem;

      > div {
        width: 54%;
      }
    }

    &-img {
      float: right;
      width: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .banner {
    &-content {
      top: 1.5rem;
    }
    &-title {
      font-size: $px42;
      line-height: 3.2rem;
    }
  }
}

@media (min-width: 1400px) {
  .banner {
    &-content {
      top: 5rem;

      > div {
        width: 50%;
      }
    }
    &-img {
      width: 55%;
    }
  }
}
