@import "variables";

.tooltip {
  color: $grey;
  width: 320px;
  clear: both;
  background: $white;
  border-radius: 5px;
  padding: 20px 30px 15px;
  text-align: center;

  span {
    color: $dark-blue-1;
    display: block;
    margin-top: 35px;
  }

  &--small {
    width: 285px;
  }

  &--med {
    width: 385px;
  }

  &--big {
    width: 445px;
  }

  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  &--up:after {
    background: transparent url("../assets/sprite.png") no-repeat 0 -268px;
    top: -30px;
    left: 44%;
    height: 31px;
    width: 48px;
  }

  &--down:after {
    background: transparent url("../assets/sprite.png") no-repeat 0 -80px;
    top: 99%;
    left: 46%;
    height: 31px;
    width: 48px;
  }

  &--left:after {
    background: transparent url("../assets/sprite.png") no-repeat 0 -131px;
    left: -30px;
    top: 44%;
    width: 30px;
    height: 49px;
  }

  &--right:after {
    background: transparent url("../assets/sprite.png") no-repeat 0 -200px;
    width: 31px;
    height: 49px;
    right: -30px;
    top: 15px;
  }

  &--1 {
    left: 16%;
    top: 2%;

    &:after {
      left: 30px;
    }
  }

  &--2 {
    left: 41%;
    top: 11%;

    &:after {
      left: 30px;
    }
  }

  &--3 {
    left: 63%;
    top: 8%;
  }

  &--4 {
    left: 32%;
    top: 30%;
  }

  &--5 {
    left: 13%;
    top: 43%;
  }

  &--6 {
    left: 64%;
    top: 44%;
  }

  &--7 {
    left: 65%;
    top: 62%;

    &:after {
      left: 63%;
    }
  }

  &--8 {
    left: 12%;
    top: 72%;

    &:after {
      left: 20%;
    }
  }

  &--9 {
    left: 55%;
    top: 78%;

    &:after {
      left: 20%;
    }
  }

  &--10 {
    left: 46%;
    top: 88%;

    &:after {
      top: 30px;
    }
  }
}
