@import "variables";

.header {
  background-color: $dark-blue;
  padding: 1rem 0 1.125rem;

  .navbar {
    padding: 0;

    .btn {
      font-size: $px18;
    }

    &-collapse {
      margin-top: 0.5rem;
    }

    &-light {
      .navbar-toggler {
        color: rgba(265, 265, 265, 0.8);
        border-color: rgba(265, 265, 265, 0);
        outline: none;

        &.collapsed {
          color: rgba(0, 179, 230, 1);

          .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,179,230, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }
        }

        &-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(265,265,265, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
      }

      .navbar-nav {
        .nav-link {
          color: $white;
          display: inline-block;
          padding: 0;

          &:after {
            display: none;
          }

          &:hover {
            color: $light-blue;
          }
        }

        .dropdown {
          &:hover .dropdown-menu {
            display: block;
          }

          &-menu {
            background-color: $dark-blue;
            border: none;
            border-radius: 0;
            left: -20px;
            top: 24px;
            padding-top: 20px;

            .dropdown-item {
              color: $white;
              padding: 0.5rem 1rem;

              &:hover {
                background-color: transparent;
                color: $light-blue;
              }
            }
          }
        }
      }
    }
  }

  // Inside the Menu
  .nav {
    &-item {
      a {
        color: $white;

        &.active,
        &:hover {
          color: $light-blue;
          text-decoration: none;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 768px) {
  .header {
    .navbar {
      .btn {
        position: absolute;
        top: 0;
        right: 0;
      }

      &-light .navbar-toggler {
        margin-top: 2rem;
      }
    }

    .nav {
      &-item {
        a {
          font-size: $px15;
        }
      }
    }
  }
}

// Desktop
@media (min-width: 992px) {
  .header {
    padding: 0 1.125rem 1.25rem;

    .navbar {
      .btn {
        border-radius: 0 0 0.25rem 0.25rem;
      }

      &-collapse {
        margin-top: 3rem;
      }

      &-brand {
        margin-bottom: -1.4rem;
      }
    }

    .nav {
      &-item {
        margin-left: 2.5rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    .nav {
      &-item {
        margin-left: 3rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .header {
    .nav {
      &-item {
        margin-left: 3.34rem;
      }
    }
  }
}
