@import "variables";

.industry {
  color: $white;
  display: none;

  @media (min-width: 992px) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  &-item {
    height: 435px;
    padding: 30px 20px;
    position: relative;
    overflow: hidden;
    -webkit-flex-basis: 16.667%;
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    color: $white;
    -webkit-transition: 0.25s all ease-in-out;
    -o-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;

    &__list {
      font-size: $px16;
      list-style: none;
      margin: 0;
      padding: 0;
      pointer-events: none;
      text-shadow: 1px 1px 1px $grey;

      li {
        margin-bottom: 8px;
        opacity: 0;
        -webkit-transition: 0.25s all ease-in-out;
        -o-transition: 0.25s all ease-in-out;
        transition: 0.25s all ease-in-out;

        &:last-child {
          margin-bottom: 0;
        }

        @for $i from 1 through 20 {
          $translate: -10px * $i;

          &:nth-child(#{$i}) {
            -webkit-transform: translate(0, $translate);
            -ms-transform: translate(0, $translate);
            transform: translate(0, $translate);
            -webkit-animation-delay: $i * 0.05s;
            animation-delay: $i * 0.05s;
          }
        }
      }
    }
  }

  &-title {
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    z-index: 9;
  }

  &-img {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    z-index: 0;

    -webkit-filter: none;
    filter: none;
  }

  &-item:hover {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;

    .industry {
      &-img {
        -webkit-filter: grayscale(0%) brightness(80%) sepia(100%)
          hue-rotate(-200deg) saturate(500%) contrast(0.8);
        filter: grayscale(0%) brightness(80%) sepia(100%) hue-rotate(-200deg)
          saturate(500%) contrast(0.8);
        opacity: 0.3;
      }

      &-item__list {
        opacity: 1;
        pointer-events: auto;

        li {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;

          &:nth-child(n) {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.industry,
.accordion {
  // Background colors
  &-1 {
    background-color: $light-blue;

    .industry-img {
      max-width: 150px;
    }
  }
  &-2 {
    background-color: $blue-1;

    .industry-img {
      max-width: 85px;
    }
  }
  &-3 {
    background-color: $blue-2;

    .industry-img {
      max-width: 88px;
    }
  }
  &-4 {
    background-color: $blue-3;

    .industry-img {
      max-width: 135px;
    }
  }
  &-5 {
    background-color: $blue-4;

    .industry-img {
      max-width: 160px;
    }
  }
  &-6 {
    background-color: $blue-5;

    .industry-img {
      max-width: 140px;
    }
  }

  @media (min-width: 992px) {
    &-1 {
      .industry-img {
        max-width: 195px;
      }
    }
    &-2 {
      .industry-img {
        max-width: 143px;
      }
    }
    &-3 {
      .industry-img {
        max-width: 138px;
      }
    }
    &-4 {
      .industry-img {
        max-width: 187px;
      }
    }
    &-5 {
      .industry-img {
        max-width: 209px;
      }
    }
    &-6 {
      .industry-img {
        max-width: 208px;
      }
    }
  }
}

// Accordion for Mobile
.accordion {
  .card {
    color: $white;
    border: none;
    border-radius: 0;

    &-header {
      background-color: transparent;
      border: none;
      font-weight: 700;
      padding: 0.75rem 1.25rem;
      position: relative;

      &:after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        display: inline-block;
        position: absolute;
        top: 48%;
        right: 1.25rem;
      }
    }

    &-body {
      min-height: 180px;
      padding: 0.5rem 1rem 1rem;
    }

    .collapse.show {
      ul {
        opacity: 1;
        pointer-events: auto;

        li {
          -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
          -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;

          &:nth-child(n) {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 1rem;
    width: 56%;

    li {
      margin-bottom: 8px;
      opacity: 0;
      -webkit-transition: 0.25s all ease-in-out;
      -o-transition: 0.25s all ease-in-out;
      transition: 0.25s all ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }

      @for $i from 1 through 20 {
        $translate: -10px * $i;

        &:nth-child(#{$i}) {
          -webkit-transform: translate(0, $translate);
          -ms-transform: translate(0, $translate);
          transform: translate(0, $translate);
          -webkit-animation-delay: $i * 0.05s;
          animation-delay: $i * 0.05s;
        }
      }
    }
  }

  @media (min-width: 992px) {
    display: none;
  }
}
