/*** Colors ***/
$white: #ffffff;
$black: #373743;
$grey: #666666;
$grey-1: #e5e6e7;
$dark-blue: #28344e;
$dark-blue-1: #27344d;
$light-blue: #00b3e6;
$light-blue-1: #53caec;
$light-blue-2: #ccf5ff;

// Shades of blue
$blue-1: #00a7d6;
$blue-2: #0194bd;
$blue-3: #0188ae;
$blue-4: #017ea1;
$blue-5: #017494;

// Font Sizes
$px15: 0.833rem;
$px16: 0.889rem;
$px18: 1rem;
$px20: 1.22rem;
$px22: 1.11rem;
$px24: 1.33rem;
$px28: 1.56rem;
$px36: 2rem;
$px42: 2.33rem;
$px46: 2.56rem;
$px48: 2.67rem;
$px54: 3rem;
$px64: 3.56rem;

// Background
.bg-light-blue {
  background-color: $light-blue-1;
}

// Buttons
.btn {
  color: $white;
  border: none;

  &-blue {
    background-color: $light-blue;

    &:hover {
      background-color: $blue-2;
    }
  }
}

.text-link {
  color: $light-blue;
}
